@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>About.</h1>
    <h2>Me, just me.</h2>
</hgroup>

<article>
    <p>
        Jimmy started his computing adventure long time ago with Atari, which of course was far better than Commodore, contrary to the popular believe. Fast forward... When the first .NET version was released he jumped on it as an excuse to stop writing code in classic ASP and Delphi. 
    </p>

    <p>
      He is now working as a Principal Software Engineer in Symantec.cloud where he is a technical leader and the .NET evangelist . His day is mainly consumed by mentoring, managing development and from time to time designing and coding a new cool stuff. Currently, his favourite topics are MVC 3, WIF and identity and Windows Phone.  After a hard day in the office he loves to fly a virtual space ship in Eve Online. 
    </p>

    <p>
      Jimmy is also the leader of the GL.net, a free .NET user group based in Gloucester and Cheltenham area.
    </p>
</article>

