@{
  ViewBag.Title = "Contact";
}
<hgroup class="title">
  <h1>Contact.</h1>
  <h2>If you want to say hello.</h2>
</hgroup>
<section class="contact">
  <header>
    <h3>Personal:</h3>
  </header>
  <p>
    <span class="label">Twitter: </span><span>@@_jimmys</span>
  </p>
  <p>
    <span class="label">Email: </span><span>jimmy.skowronski@gmail.com</span>
  </p>
  <p>
    <span class="label">Web: </span><span>http://jimmylarkin.net</span>
  </p>
</section>
<section class="contact">
  <header>
    <h3>GL.net:</h3>
  </header>
  <p>
    <span class="label">Web: </span><span>http://gl-net.org.uk</span>
  </p>
</section>
<section class="contact">
  <header>
    <h3>Work:</h3>
  </header>
  <p>
    <img src="~/Images/SYMCloud_RGB_200.png"  />
  </p>
</section>
<section class="contact">
  <header>
    <h3>Fun:</h3>
  </header>
  <p>
    <img src="~/Images/eve_online_logo.png"  />
  </p>
</section>