@{
  ViewBag.Title = "Le grande finale";
}
<hgroup class="title">
  <h1>Le grande finale.</h1>
  <h2>Before you go away.</h2>
</hgroup>
<article>
  <ol class="round">
    <li class="one">
      <h5>Any questions?</h5>
      This is your time if something is still not clear.
    </li>
    <li class="two">
      <h5>What's next?</h5>
      Think about your users.<br />
      Change your authentication model.<br />
      Tell me about it.
    </li>
    <li class="three">
      <h5>I want your feedback</h5>
      Please fill the feedback form if you haven’t done that yet. I really appreciate any comments.
    </li>
    <li class="four">
      <h5>Thank you</h5>
      Thank you for spending time here. Contact me if you need some help.
    </li>
  </ol>
</article>
