@{
  ViewBag.Title = "Google";
}
<hgroup class="title">
  <h1>Google.</h1>
  <h2>More code: yeah, baby!</h2>
</hgroup>
<article>
  <ol class="round">
    <li class="one">
      <h5>Management</h5>
      You will need this <a href="https://code.google.com/apis/console" target="_blank">code.google.com/apis/console</a>.
    </li>
    <li class="two">
      <h5>Worth to know</h5>
      Google wants you to POST the token request and is very strict about the callback url. There is no client in the WebMatrix so we need to write it.
    </li>
    <li class="three">
      <h5>Consent</h5>
      And this <a href="https://www.google.com/dashboard" target="_blank">www.google.com/dashboard</a> (not easy to find).
    </li>
  </ol>
</article>
