@{
  ViewBag.Title = "About";
}
<hgroup class="title">
  <h1>Introduction.</h1>
  <h2>Why are we here?</h2>
</hgroup>
<article>
  <ol class="round">
    <li class="one">
      <h5>I'm not a genius!</h5>
      There is a chance you will know better than me.
    </li>
    <li class="two">
      <h5>Why I'm here?</h5>
      To show you that it’s easier to use the Live ID or Google than setting your own user store.<br />
      To save you from losing new users.<br />
      To help you be more secure.
    </li>
    <li class="three">
      <h5>Not in the scope</h5>
      I'm not going to explain the OAuth protocol in details.<br />
      Neither about claims, tokens, encryption and other stuff.
    </li>
    <li class="four">
      <h5>Framework</h5>
      There are many OAuth frameworks so why WebMatrix?<br />
      OAuth 2.0 specification is not yet final.
    </li>
    <li class="five">
      <h5>I assume</h5>
      You know MVC fairly well and a bit about ASP.NET authentication.
    </li>
    <li class="six">
      <h5>Questions</h5>
      Please ask questions at any time.
    </li>
  </ol>
</article>
