@{
  ViewBag.Title = "Back to Live ID";
}
<hgroup class="title">
  <h1>Back to Live ID.</h1>
  <h2>What's your email dude?</h2>
</hgroup>
<article>
  <ol class="round">
    <li class="one">
      <h5>Phew, who needs standards?</h5>
      Google returns email address by default, Live ID not. To fix that we need to extend the WindowsLiveClient class.
    </li>
    <li class="two">
      <h5>On, no!</h5>
      Except this class is sealed!
    </li>
  </ol>
</article>
