@{
  ViewBag.Title = "Live ID";
}

<hgroup class="title">
    <h1>Live ID.</h1>
    <h2>In 5 minutes.</h2>
</hgroup>

<article>
  <ol class="round">
    <li class="one">
      <h5>Management</h5>
      You will need this <a href="https://manage.dev.live.com" target="_blank">manage.dev.live.com</a>.
    </li>
    <li class="two">
      <h5>Code time</h5>
      Yeah, there is nothing to say here.
    </li>
    <li class="three">
      <h5>Consent</h5>
      And this <a href="https://consent.live.com" target="_blank">consent.live.com</a>.
    </li>
  </ol>
</article>

